@charset "UTF-8";

@import "import/base";


/* clearfix */
.clearfix{
	*zoom:1;
	&:before, &:after{
		content:'';
		display:block;
	}
	&:after{
		clear:both;
	}
}

/* hidden */
.hidden {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.color_green {
    color: $green !important;
}
.color_orange {
    color: #ff6035 !important;
}

.full_size {
    width: 100% !important;
}

.inner_box {
    margin: 0 vw(20px);
}

.checkbox_green {
    font-size: 0;
    margin-right: vw(15px);
    input[type="checkbox"] {
        width: vw(26px);
        height: vw(26px);
        border-radius: vw(3px);
        background-color: #d1e4b2;
        appearance: none;
        vertical-align: middle;
        
    }
    span {
        margin-left: vw(15px);
        color: $ft-gray;
        font-size: vw(22px);
        vertical-align: middle;
    }
}

.checkbox {
    font-size: 0;
    &.sigle {
        display: block;
    }
    & + .checkbox {
        margin-left: vw(10px);
    }
    input[type="checkbox"] {
        width: vw(26px);
        height: vw(26px);
        border-radius: vw(3px);
        background:url('../img/bg_checkbox.png') no-repeat center center;
        background-size: cover;
        appearance: none;
        vertical-align: middle;
        &:checked {
            background:url('../img/bg_checkbox_on.png') no-repeat center center;
            background-size: cover;
        }
    }
    span {
        margin-left: vw(10px);
        color: $ft-gray;
        font-size: vw(22px);
        vertical-align: middle;
    }
}
.radiobox {
    font-size: 0;
    margin-right: vw(10px);
    &:last-child {
        margin-right: 0;
    }
    &.interval {
        & + .interval {
            margin-left: vw(30px);
        }
    }
    input[type="radio"] {
        width: vw(22px);
        height: vw(22px);
        border-radius: vw(3px);
        background:url('../img/bg_radiobox.png') no-repeat center center;
        background-size: vw(22px);
        appearance: none;
        vertical-align: middle;
        &:checked {
            background:url('../img/bg_radiobox_on.png') no-repeat center center;
            background-size: vw(22px);
        }
    }
    span {
        margin-left: vw(8px);
        color: #000;
        font-size: vw(22px);
        vertical-align: middle;
    }
}

/* =====================================================================================
                                    header
===================================================================================== */


.header {
    position: relative;
    height: vw(108px);
    .inner_box {
        position: relative;
        height: 100%;
    }
    h1 {
        @include flexBox;
        height: 100%;
        color: #000;
        font-size: vw(34px);
    }
    .btn_menu {
        @include absoluteLT(0, 50%);
        transform: translateY(-50%);
        font-size: 0;
        img {
            height: vw(30px);
        }
    }
    .right_btn {
        @include flexBox;
        gap: vw(25px);
        @include absoluteRT(0, 50%);
        transform: translateY(-50%);
        font-size: 0;
        li {
            img {
                height: vw(37px);
            }
        }
    }
}


.menu_box {
    @include fixedLT(vw(-492px), 0);
    z-index: 9;
    width: vw(492px);
    height: 100%;
    padding: vw(22px) 0 vw(46px);
    background: $green;
    transition: left .5s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &.on {
        left: 0;
        transition: left .5s;
    }
    .side_logo {
        display: flex;
        align-items: flex-end;
        padding-left: vw(40px);
        dt {
            width: vw(91px);
            img {
                width: 100%;
            }
        }
        dd {
            margin-left: vw(15px);
            color: #fff;
            p {

                font-size: vw(16px);
            }
            h1 {
                font-size: vw(23px);
            }
        }
    }
    
    .menu {
        margin-top: vw(60px);
        a {
            @include flexStart;
            position: relative;
            font-weight: 500;
            &.fold {
                &::after {
                    content: '';
                    display: block;
                    width: vw(24px);
                    height: vw(24px);
                    @include absoluteRT(vw(40px), 50%);
                    transform: translateY(-50%);
                    background-image: url('../img/icon_arrow_down_white.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                // &.on {
                //     &::after {
                //         background-image: url('../img/icon_arrow_blue_up.png');
                //     }
                // }
            }
        }
        & > li {
            & > a {
                height: vw(66px);
                padding: 0 vw(40px);
                color: #fff;
                font-size: vw(30px);
                // &:hover,
                // &.on {
                //     font-weight: bold;
                // }
            }
            & > ul {
                display: none;
                padding: vw(10px) 0;
                margin: vw(10px) 0;
                background: #fff;
                & > li {
                    a {
                        padding: vw(10px) 0 vw(10px) vw(65px);
                        color: $ft-gray;
                        font-size: vw(26px);

                    }
                }
            }
        }
    }
    .btn_side_close {
        @include absoluteRT(vw(39px),vw(42px));
        width: vw(29px);
        height: vw(29px);
        background: url('../img/btn_close_white.png') no-repeat center center;
        background-size: cover;
    }
    .side_foot_btns {
        display: flex;
        flex-wrap: wrap;
        margin: vw(50px) vw(40px) 0;
        border: 1px solid #30672f;
        li {
            width: 50%;
            &:nth-child(even) {
                border-left: 1px solid #30672f;
            }
            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 1px solid #30672f;
            }
            & > a {
                display: flex;
                align-items: center;
                height: vw(118px);
                background-color: #4a9256;
                img {
                    width: vw(100px);
                }
                p {
                    flex: 1;
                    margin-left: vw(2px);
                    color: #fff;
                    font-size: vw(24px);
                    word-break: keep-all;
                }
            }
        }
    }
    .user_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 vw(40px);
        margin-top: vw(30px);
        p {
            color: #fff;
            font-size: vw(26px);
            em {
                color: #fff;
            }
        }
        & > ul {
            display: inline-block;
            border: 1px solid #c8c8c8;
            border-radius: vw(23px);
            li {
                float: left;
                & + li {
                    border-left: 1px solid #c8c8c8;
                }
                a {
                    @include flexBox;
                    height: vw(44px);
                    padding: 0 vw(24px);
                    color: #fff;
                    font-size: vw(20px);
                    img.setting {
                        height: vw(22px);
                    }
                }
            }
        }
    }
}

.dim {
    display: none;
    @include fixedLT();
    @include fullSize;
    z-index: 8;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

/* =====================================================================================
                                    // header
===================================================================================== */

/* =====================================================================================
                                    login
===================================================================================== */

.main_top {
    @include flexBox;
    flex-wrap: wrap;
    flex-direction: column;
    height: vw(450px);
    color: #fff;
    .main_logo {
        img {
            width: vw(175px);
        }
    }
    p {
        margin-top: vw(35px);
        font-size: vw(22px);
    }
    h1 {
        font-size: vw(30px);
    }
}

.login_wrap {
    display: flex;
    @include absoluteLT();
    width: 100%;
    min-height: 100%;
    padding: vw(35px);
    background-color: $green;
}

.login_box {
    @include flexBox;
    flex-direction: column;
    width: 100%;
    padding-bottom: vw(100px);
    border-radius: vw(30px);
    background-color: #fff;
    .main_top {
        height: vw(548px);
        color: #8a8c87;
    }
    .login_form {
        width: vw(376px);
        margin: 0 auto;
        .line_input {
            position: relative;
            border-bottom: 2px solid #d1e4b2;
            & + .line_input {
                margin-top: vw(7px);
            }
            input[type="text"],
            input[type="password"] {
                height: vw(68px);
                padding: 0 vw(10px);
                font-size: vw(25px);
                &::placeholder {
                    color: #c2c2c2;
                }
            }
            .tip {
                @include absoluteRT(vw(10px), 50%);
                transform: translateY(-50%);
                font-size: 0;
                img {
                    width: vw(30px);
                }
            }
        }
    }
    .btn_login {
        @include flexBox;
        height: vw(80px);
        margin-top: vw(70px);
        color: #fff;
        font-size: vw(28px);
        font-weight: 700;
        text-align: center;
        background-color: $green;
        border-radius: vw(10px);
    }
}
/* =====================================================================================
                                    // login
===================================================================================== */

.wrap {
    padding-bottom: vw(165px);
}

.container {
    padding: vw(20px);
}

.green_line_box {
    border: 2px solid $green;
    border-radius: vw(10px);
    margin-bottom: vw(40px);
    .sel {
        margin-right: vw(20px);
    }
    .row_box {
        display: flex;
        align-items: center;
        padding: vw(20px);
        font-size: 0;
        &.gray_box {
            flex-wrap: wrap;
            .checkbox {
                span {
                    color: #292929;
                }
            }
        }
    }
    &.inner_btn_box {
        position: relative;
        .row_box {
            padding: 0;
            & + .row_box {
                .form_box {
                    padding-top: 0;
                }
                
            }
        }
        .right_btn {
            @include absoluteRT(0, 50%);
            transform: translateY(-50%);
            width: vw(170px);
            font-size: 0;
            text-align: center
        }
    }
}

.btns {
    @include flexBox;
    margin-top: vw(40px);
}
.btn {
    //@include flexBox;
    display: inline-block;
    height: vw(43px);
    padding: 0 vw(13px);
    border-radius: vw(10px);
    font-size: vw(22px);
    line-height: vw(41px);
    font-weight: 500;
    & + .btn {
        margin-left: vw(10px);
    }
    &.small {
        height: vw(30px);
    }
    &.outline {
        border: 1px solid #606060;
        &.green {
            color: $green;
            border: vw(2px) solid $green;
        }
    }
}

select {
    appearance: none;
}
.sel {
    //text-align-last: center;
    &.gray {
        background-color: #f6f6f6;
    }
    // & + .sel {
    //     margin-left: vw(90px);
    // }
    & + .checkbox {
        margin-left: vw(20px);
    }
    height: vw(39px);
    padding: 0 vw(30px) 0 vw(14px);
    color: #292929;
    font-size: vw(22px);
    background: url('../img/icon_arrow_select_down.png') no-repeat right vw(10px) center;
    background-size: vw(15px);
}
.mut {
    justify-content: space-between;
    .sel {
        & + .sel {
            margin-left: 0;
        }
    }
}

.base_info_tit {
    padding: vw(20px);
    border: 1px solid #a3a3a3;
    border-radius: vw(10px);
    color: #000;
    font-size: vw(28px);
    text-align: center;
    strong {
        font-weight: 700;
    }
    
}

.gray_line_box {
    
    border: 1px solid #a3a3a3;
    border-radius: vw(10px);
    &.tbl_scroll {
        max-height: vw(480px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    
}
.form_row {
    display: flex;
    align-items: center;
    gap: vw(10px);
    margin-top: vw(10px);
    .gray_line_box {
        flex: 1;
    }
}
.form_box {
    @include flexStart;
    flex: 1;
    min-height: vw(57px);
    padding: vw(10px) vw(15px);
    font-size: vw(22px);
    &.align_top {
        align-items: flex-start
    }
    &.mult_box {
        display: block;
        .form_name {
            display: inline-block;
            vertical-align: middle;
            & + .form_cont {
                padding-left: 0;
            }
        }
        .form_cont {
            display: inline-block;
            vertical-align: middle;
            padding-left: 0;
            & + .form_name {
                margin-left: vw(10px);
            }
        }
    }
    .form_name {
        width: vw(110px);
        color: #808080;
        font-size: vw(22px);
        line-height: 100%;
        word-break: keep-all;
        & + .form_cont {
            padding-left: vw(10px);
        }
    }
    .form_cont {
        @include flexStart;
        flex: 1;
        
        & + .form_name {
            margin-left: vw(30px);
        }
        .input_text {
            height: vw(39px);
            padding: 0 vw(5px);
            background: #f6f6f6;
            font-size: vw(22px);
            & + * {
                margin-left: vw(10px);
            }
        }
        i {
            color: $ft-gray;
            &.ns {
                margin: 0 vw(10px);
            }
        }
        
        .icon_watch {
            margin-left: vw(10px);
            font-size: 0;
            img {
                width: vw(30px);
            }
        }
        .radiobox {
            & + .radiobox {
                
                justify-content: space-between;
            }
        }
        .checkbox {
            & + .checkbox {
                margin-left: vw(5px);
            }
        }
        .between_box {
            flex: 1;
        }
        .rd_list {
            @include flexStart;
            .radiobox {
                & + .radiobox {
                    margin-left: vw(15px);
                }
            }
        }
        .right_txt {
            margin-left: auto;
            color: #808080;
            font-size: vw(22px);
            strong {
                color: #292929;
            }
        }
        .state {
            @include flexBox;
            .state_radio {
                @include flexBox;
                position: relative;
                width: vw(40px);
                height: vw(40px);
                border-radius: 50%;
                overflow: hidden;
                & + .state_radio {
                    margin-left: vw(2px);
                }
                span {
                    @include flexBox;
                    @include absoluteLT();
                    @include fullSize;
                    color: #000;
                    font-size: vw(20px);
                    background: #e8e8e8;
                }
                input[type="radio"] {
                    display: none;
                    &:checked + span {
                        color: #fff;
                        background: $green;
                    }
                }
            }
            
        }
        .textarea {
            width: 100%;
            padding: vw(5px);
            font-size: vw(22px);
            resize: none;
            background: #f6f6f6;
        }
        
        .radio_list {
            // @include flexStart;
            // flex-wrap: wrap;
            display: grid;
            grid-row-gap: vw(5px);
            width: 100%;
            li {
                font-size: 0;
            }
            &.col2 {
                grid-template-columns: repeat(2,auto);
                li {
                    // width: 50%;
                } 
            }
            &.col3 {
                grid-template-columns: repeat(3,auto);
                li {
                    // width: 33.33%;
                } 
            }
            &.col4 {
                grid-template-columns: repeat(4,auto);
                li {
                    //width: 25%;
                } 
            }
        }
        
    }
}
.form_rowspan {
    @include flexStart;
    flex-wrap: wrap;
    .form_rowspan_tit {
        @include flexBox;
        width: vw(66px);
        color: #808080;
        font-size: vw(22px);
        & + .form_rowspan_cont {
            border-left: 1px solid #a3a3a3;
        } 
    }
    .form_rowspan_cont {
        flex: 1;
        
        .form_box {
            & + .form_box {
                border-top: 1px solid #a3a3a3;
            }
            .radiobox {
                margin-right: 0.5vw;
            }
        }
    }
}

.bottom_fixed_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: vw(97px);
    & > a {
        @include flexBox;
        flex: 1;
        font-size: vw(32px);
        font-weight: 500;
    }
}
.bg_green {
    color: #fff;
    background: $green;
}
.bg_dark_gray {
    color: #3d3d3d;
    background: #c3c3c3;
}
.bg_gray {
    color: #fff;
    background: #828282;
}

/* datepicker */
.datepicker {
    width: vw(165px);
    & + label {
        font-size: 0;
        img {
            height: vw(28px);
        }
    }
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
    top: 50% !important;
    transform: translateY(-50%);
}
.ui-widget-header {
    background: #fff !important;
    .ui-datepicker-next {
        background: url('../img/datepicker_arrow_next.jpg') no-repeat center center !important;
        background-size: 20px !important;
    }
    .ui-datepicker-prev {
        background: url('../img/datepicker_arrow_prev.jpg') no-repeat center center !important;
        background-size: 20px !important;
    }
    
}
.ui-datepicker .ui-datepicker-buttonpane button {
    padding: 5px 10px !important;
    
    border-radius: 10px;
    background: #828282 !important;
    color: #fff;
    font-size: 12px;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    background: $green !important;
    opacity: 1 !important;
}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year {
    width: auto !important;
}

.ui-datepicker select.ui-datepicker-month {
    padding-right: 25px !important;
    background: url('../img/datepicker_select_down.jpg') no-repeat right center !important;
    background-size: 20px !important;
}

.ui-datepicker .ui-datepicker-title {
    font-size: 18px !important;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    background: none;
    border: none;
    height: 35px;
    font-size: 11px;
    text-align: left;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover {
    color: initial;
    border: 1px solid $green;
    border-radius: 10px;
}
/* //datepicker */

.img_box {
    padding: vw(30px) 0;

}

.form_title_box {
    display: flex;
    align-items: center;
    margin-top: vw(50px);
    margin-bottom: vw(20px);
    h2 {
        margin-right: auto;
        color: $green;
        font-size: vw(26px);
        font-weight: 500;
    }
    
}

.btn_green_line {
    @include flexBox;
    height: vw(43px);
    padding: 0 vw(16px);
    
    border: 2px solid $green;
    border-radius: vw(10px);
    color: #292929;
    font-size: vw(22px);
    img {
        height: vw(24px);
        margin-right: vw(12px);
        vertical-align: middle;
    }
    span {
        vertical-align: middle;
    }
}

.btn_green_line2 {
    @include flexBox;
    height: vw(40px);
    padding: 0 vw(16px);
    border: vw(2px) solid $green;
    border-radius: vw(10px);
    color: $green;
    font-size: vw(22px);
    font-weight: 500;
    img {
        height: vw(25px);
        margin-right: vw(12px);
        vertical-align: middle;
    }
    span {
        vertical-align: middle;
    }
}

/* pop */
.pop {
    @include fixedLT();
    @include fullSize;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 9;
    position: fixed;
    padding: 0 vw(30px);
    background-color: rgba($color: #000000, $alpha: 0.5);
    
    .pop_box {
        position: relative;
        width: 100%;
        padding: vw(50px) vw(35px);
        margin: vw(150px) 0;
        border-radius: vw(28px);
        background-color: #fff;
        h1 {
            margin-bottom: vw(45px);
            color: #292929;
            font-size: vw(28px);
            text-align: center;
        }
        .btn_pop_close {
            @include absoluteRT(vw(29px),vw(29px));
            width: vw(29px);
            height: vw(29px);
            background: url('../img/btn_close_black.png') no-repeat center center;
            background-size: cover;
        }
    }
}

/* // pop */

.flex_column {
    flex-direction: column;
}
.flex_wrap {
    flex-wrap: wrap;
}

.ml10 {
    margin-left: vw(10px) !important;
}
.ml25 {
    margin-left: vw(25px) !important;
}

.mt10 {
    margin-top: vw(10px) !important;
}
.mt20 {
    margin-top: vw(20px) !important;
}
.mt40 {
    margin-top: vw(40px) !important;
}
.tbl01 {
    &.sticky {
        border-collapse: separate;
        thead {
            th {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #fff;
                
            }
        }   
    }
    thead {
        tr + tr {
            th {
                border-top: 1px solid #c9c9c9;
            }
        }
    }
    th {
        height: vw(60px);
        color: #808080;
        font-size: vw(22px);
        font-weight: 500;
        border-bottom: 1px solid #c9c9c9;
        .downup {
            position: relative;
            height: 100%;
            padding-right: vw(20px);
            &::after {
                content: '';
                display: block;
                @include absoluteRT(0,50%);
                transform: translateY(-50%);
                width: vw(15px);
                height: vw(15px);
                background-image: url('../img/icon_arrow_select_down_gray.png');
                background-position: center;
                background-repeat: repeat;
                background-size: cover;
            }
            &.on {
                &::after {
                    transform:rotate(-180deg) translateY(50%);
                }
            }
        }
    }
    tbody {
        tr {
            &:first-child {
                td {
                    border-top: none;
                }
            }
        }
    }
    td {
        
        padding: vw(15px) vw(5px);
        border-top: 1px solid #c9c9c9;
        color: #292929;
        font-size: vw(22px);
        text-align: center;
        &.align_left {
            text-align: left;
        }
        .orange_color {
            color: #ff6035;
        }
        .block_box {
            font-size: 0;
        }
        
    }
}

.h3tit {
    margin: vw(30px) 0 vw(15px);
    color: #292929;
    font-size: vw(24px);
    line-height: 100%;
}

.gray_box {
    background-color: #f8f8f8;
}

/* 달력 */
.calendar_ctl_box {
    width: vw(585px);
    margin: 0 auto;
    
}
.calendar_header {
    position: relative;
    padding: 0 vw(100px);
    
    .btn {
        &.left {
            @include absoluteLT(0,50%);
            transform: translateY(-50%);
        }
        &.right {
            @include absoluteRT(0,50%);
            transform: translateY(-50%);
        }
    }
    .calendar_ctl {
        @include flexBox;
        justify-content: space-between;
        margin: 0 auto;
        .arrow {
            @include flexBox;
            width: vw(43px);
            height: vw(43px);
            font-size: 0;
            line-height: 0;
            img {
                width: 5vw;
            }
        }
        select {
            padding-right: 25px !important;
            background: url('../img/datepicker_select_down.jpg') no-repeat right center !important;
            background-size: 20px !important;
            font-size: vw(35px);
            font-weight: 500;
        }

    }
}
.month_sel {
    display: flex;
    margin-top: vw(20px);
    .btn {
        flex: 1;
        padding: 0;
        font-size: vw(18px);
        line-height: vw(30px);
        text-align: center;
        &.on {
            color: #fff;
            border: 1px solid $green;
            background-color: $green;
        }
        & + .btn {
            margin-left: vw(3px);
        }
    }
}

.calendar_area {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: vw(30px);
}
.calendar {
    width: vw(1400px);
    border: 1px solid #c9c9c9;
    border-radius: vw(10px);   
    table {
        width: 100%;
        
        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
            th,
            td {
                
                border-bottom: 1px solid #c9c9c9;
                font-size: vw(22px);
            }
            th {
                height: vw(47px);
                border-top: none;
                font-weight: 400;
                & + th {
                    border-left: 1px solid #c9c9c9;
                }
            }
            td {
                position: relative;
                width: vw(200px);
                height: vw(220px);
                padding: vw(15px);
                color: #292929;
                vertical-align: top;
                
                &:first-child {
                    i {
                        color: #ff4141;
                    }
                }
                &:last-child {
                    i {
                        color: #419aff;
                    }
                }
                &.on {
                    background-color: #ebf9ee;
                }
                & + td {
                    border-left: 1px solid #c9c9c9;
                }
                .other {
                    opacity: .5;
                }
                .red {
                    color: #ff4141 !important;
                }
                .notes {
                    font-size: vw(22px);
                    li {
                        @include flexStart;
                        flex-wrap: wrap;
                    }
                    .btn_green_delete {
                        display: inline-block;
                        width: vw(24px);
                        height: vw(24px);
                        margin-left: vw(3px);
                        background: url('../img/btn_green_delete.png') no-repeat center;
                        background-size: vw(22px);
                        vertical-align: middle;
                    }
                }
                .num_right {
                    @include absoluteRT(vw(15px),vw(15px));
                    margin-left: auto;
                }
                .note_text {
                    font-size: vw(20px);
                    & + .note_text {
                        margin-top: vw(15px);
                    }
                }
            }
        }
        
    }
}
/* //달력 */

.btn_delete {
    @include flexBox;
    width: vw(35px);
    height: vw(35px);
    margin: 0 auto;
    img {
        width: vw(26px);
    }
}


.pagging {
    @include flexBox;
    height: vw(100px);
    a {
        @include flexBox;
        width: vw(41px);
        height: vw(41px);
        margin: 0 vw(10px);
        background: #e8e8e8;
        border-radius: 50%;
        font-size: vw(20px);
        font-weight: 700;
        &.on {
            color: #fff;
            
            background: $green;
        }
        &.btn_pagging {
            font-size: 0 !important;
            background: none !important;
            img {
                height: vw(25px);
            }
        }
    }
}

.between_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexbox {
    @include flexBox;
}

.txt_list {
    font-size: vw(24px);
}
.txt_list2 {
    
    padding: vw(10px) 0;
    font-size: vw(22px);
    p {
        position: relative;
        padding-left: vw(13px);
        i {
            @include absoluteLT(0,0);
        }
    }
    
}

.img_view_box {
    
    border: 1px solid #a3a3a3;
    border-radius: vw(10px);
    .img {
        padding: vw(28px);
        font-size: 0;
    }
    .tbl01 {
        border-top: 1px solid #a3a3a3;
        td {
            color: #808080;
        }
    }
}

.gray_bg_box {
    padding: vw(25px) vw(35px);
    border-radius: vw(10px);
    background-color: #f5f5f5;
    p {
        color: #292929;
        font-size: vw(22px);
        text-align: center;
    }
    & + .green_line_box {
        margin: vw(20px) 0;
    }
}

.ml_auto {
    margin-left: auto;
}

.row_flexbox {
    @include flexStart;
    & + .row_flexbox {
        margin-top: vw(10px);
    }
}

.arim {
    margin-top: vw(5px);
    font-size: vw(20px);
}

.btn_pm {
    position: relative;
    width: vw(41px);
    height: vw(41px);
    background-color: #828282;
    border-radius: 50%;
    
    &::before {
        @include absoluteLT(50%,50%);
        content: '';
        display: block;
        width: vw(21px);
        height: vw(3px);
        background-color: #fff;
        transform: translate(-50%,-50%);
    }
    &.plus::after {
        @include absoluteLT(50%,50%);
        content: '';
        display: block;
        width: vw(3px);
        height: vw(21px);
        background-color: #fff;
        transform: translate(-50%,-50%);
    }
}