@charset "UTF-8";

@import "import/base";


/* clearfix */
.clearfix{
	*zoom:1;
	&:before, &:after{
		content:'';
		display:block;
	}
	&:after{
		clear:both;
	}
}

/* hidden */
.hidden {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.inner_box {
    margin: 0 vw(20px);
}
/* =====================================================================================
                                    header
===================================================================================== */


.header {
    position: relative;
    height: vw(108px);
    .inner_box {
        position: relative;
        height: 100%;
    }
    h1 {
        @include flexBox;
        height: 100%;
        color: #000;
        font-size: vw(34px);
    }
    .btn_menu {
        @include absoluteLT(0, 50%);
        transform: translateY(-50%);
        font-size: 0;
        img {
            height: vw(30px);
        }
    }
    .right_btn {
        @include flexBox;
        gap: vw(25px);
        @include absoluteRT(0, 50%);
        transform: translateY(-50%);
        font-size: 0;
        li {
            img {
                height: vw(37px);
            }
        }
    }
}

.menu_box {
    width: 250px;
    height: 100vh;
    background: $green;
    border-radius: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    h1 {
        @include flexBox;
        height: 86px;
        color: #333;
        font-size: 30px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        img {
            margin-right: 15px;
        }
    }
    .menu {
        padding-left:4px;
        a {
            @include flexStart;
            position: relative;
            &.fold {
                &::after {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    @include absoluteRT(20px, 50%);
                    transform: translateY(-50%);
                    background-image: url('../img/icon_arrow_down_white.png');
                    background-position: center;
                    background-repeat: no-repeat;
                }
                // &.on {
                //     &::after {
                //         background-image: url('../img/icon_arrow_blue_up.png');
                //     }
                // }
            }
        }
        & > li {
            & > a {
                color: #333;
                font-size: 20px;
                
                height: 50px;
                padding-left: 16px;
                &:hover,
                &.on {
                    
                    font-weight: bold;
                }
            }
            & > ul {
                display: none;
                padding: 10px 0;
                background: #fff;
                & > li {
                    a {
                        
                    }
                }
            }
        }
    }
}

/* =====================================================================================
                                    // header
===================================================================================== */
      
